@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
} */

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}
